.messagesContainer {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.messagesContainer form {
  margin-top: auto;
  width: 100%;
  padding: 0.25rem;
  background: var(--background-highlight);
}

.messagesList {
  overflow-y: auto;
}

.textareaAuto {
  /* not sure if this is a good idea, but it works for now and shouldn't break unless I change the right side bar width */
  width: 15rem; 
}

.userName {
  font-weight: bold;
  letter-spacing: 0.075em;
}