.messages-container {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.messages-container form {
  margin-top: auto;
  width: 100%;
  padding: 0.25rem;
  background: var(--background-highlight);
}

.messages-list {
  overflow-y: auto;
}

.textarea-auto {
  /* not sure if this is a good idea, but it works for now and shouldn't break unless I change the right side bar width */
  width: 15rem; 
}