/* @import "tailwindcss"; */

:root {
  --background: #dddddd;
  --foreground: #171717;
  --foreground-highlight: #242424;
  --slight-highlight: #00000010;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #333333;
    --foreground: #ededed;
    --foreground-highlight: #ffffff;
    --background-highlight: #222222;
    --link-unclicked: #bbddff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

button:hover {
  cursor: pointer;
}

header {
  margin: 0 auto;
  max-width: 50rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--background-highlight);
  position: relative;
}

header .header-link {
  padding-right: 0.5rem;
}

.drop-down {
  /* position: relative; */
  cursor: pointer;
  display: inline-block;
  content: ' ▼';
  color: var(--foreground);
  /* position: inline-block; */
}

.drop-down:hover .drop-down-links {
  display: block;
}

.drop-down-links {
  display: none;
  position: absolute;
  z-index: 1000;
  background-color: var(--background-highlight);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

main {
  margin: 0 auto;
  max-width: 50rem;
  padding: 0.5rem;
}

a:visited {
  color: #bbddff;
}

a {
  color: var(--foreground);
}

.slightHighlight {
  background-color: var(--slight-highlight);
  border-radius: 0.5rem;
}

.cursorPointer {
  cursor: pointer;
}

.showOnHover .showOnHoverObject{
  /* visibility: hidden; */
  opacity: 0;

}

.showOnHover:hover .showOnHoverObject{
  /* visibility: visible; */
  opacity: 1;
  transition: opacity 0.3s ease-in-out;

}

.user-button {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-42.5%)
}

.preWrap {
  white-space: pre-wrap;
}